.track-box p {
  font-size: 0.8em;
  width: 36px;
}

.track-title {
  width: 100%;
  height: 2em;
  font-size: 1em;
  display: inherit;
  justify-content: center;
  align-items: center;
}

progress {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background-color: #eee;
}

progress::-webkit-progress-bar {
  background: #eee;
  box-shadow: inset 0 0 1px #222;
  border-radius: 2px;
}

progress::-webkit-progress-value {
  background: linear-gradient(steelblue, skyblue, steelblue);
}

progress::-moz-progress-bar {
  background: linear-gradient(steelblue, skyblue, steelblue);
  box-shadow: inset 0 0 1px #222;
  border-radius: 2px;
}

canvas {
  border-bottom: 1px dashed steelblue;
  border-radius: 2px;
  cursor: pointer;
}

.track-box,
.volume-box {
  cursor: pointer;
  height: 20px;
}

.track-bar {
  width: 245px;
  height: 9px;
}

.volume-bar {
  width: 115px;
  height: 7px;
  margin-left: 0.25em;
}
