.button-box {
  width: 100%;
  display: inherit;
  justify-content: space-around;
  align-items: center;
}

.player-box button {
  border: none;
  outline: none;
  color: transparent;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: relative;
  cursor: pointer;
}

.player-box button::before {
  content: '';
  width: 26px;
  height: 26px;
  box-shadow: 1px -1px steelblue inset, -1px 1px skyblue inset;
  border-radius: 4px;
  position: absolute;
  top: -5px;
  left: -5px;
  opacity: 0;
  transition: 0.1s;
}

.player-box button:hover::before,
.player-box button:active::before,
.player-box button:checked::before,
.player-box button:focus::before {
  opacity: 1;
}

.upload-input {
  display: none;
}

.upload-button {
  background-image: url('../img/buttons/upload.png');
}

.reload-button {
  background-image: url('../img/buttons/reload.png');
  position: absolute;
  display: none;
}

.play-button {
  background-image: url('../img/buttons/play.png');
}

.pause-button {
  background-image: url('../img/buttons/pause.png');
  position: absolute;
  display: none;
}

.stop-button {
  background-image: url('../img/buttons/stop.png');
}

.backward-button {
  background-image: url('../img/buttons/backward.png');
}

.forward-button {
  background-image: url('../img/buttons/forward.png');
}

.next-button {
  background-image: url('../img/buttons/next.png');
}

.prev-button {
  background-image: url('../img/buttons/prev.png');
}

.volume-button {
  background-image: url('../img/buttons/volume.png');
}

.mute-button {
  background-image: url('../img/buttons/mute.png');
  position: absolute;
  display: none;
}

.shuffle-button {
  background-image: url('../img/buttons/shuffle.png');
}

.check-button {
  background-image: url('../img/buttons/check.png');
  position: absolute;
  display: none;
}

.fast-button {
  background-image: url('../img/buttons/fast.png');
}

.normal-button {
  background-image: url('../img/buttons/normal.png');
  position: absolute;
  display: none;
}

.visual-button {
  background-image: url('../img/buttons/visual.png');
}

.equal-button {
  background-image: url('../img/buttons/equal.png');
}

.list-button {
  background-image: url('../img/buttons/list.png');
}
